*{
    color: #333;
}

header{
    text-align: center;
}

header div img{
    width: 220px;
}

header p, header p strong {
    color: rgb(5, 120, 106);
    font-size: 0.9em;
    background-color: rgba(244, 244, 99, 0.864);
}
main{
    width: 100%;
}

article{
    text-align: center;
}

figure{
    text-align: center;
}

figure figcaption{
    color: #978f8f;
}

.testo p{
    color: brown;
}

.testo a{
    color: rgb(4, 123, 104);
}
main div .color{
    color: rgb(4, 123, 104);
}